// Abstracts
@use './scss/abstracts/variables';
@use './scss/abstracts/mixins';

// Base
@use './scss/base/base';
@use './scss/base/resets';


// -----------------HEADER-----------------
// -----------------TITLE-----------------
#burger {
    width: 13%;
    height: auto;
}

#header-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-container {
    display: flex;
    align-items: center;
}

#date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


// -----------------USER-----------------
// -----------------TITLE----------------
#text {
    display: flex;
    justify-content: center;
}

#login-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#user-btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


// -----------------FOOTER-----------------
// -----------------IMAGE----------------
#footer {
    display: flex;
    justify-content: left;
    align-items: center;
}

#logo-footer {
    width: 8%;
    height: auto;
}

